<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加地址信息</title>
</head>
<body>
     <form action="">
         <h3>增加地址信息</h3>
         <table border="1">
             <tr>
                 <td>联系人姓名</td>
                 <td>
                     <input type="text" name="contact" class="contact">
                 </td>
             </tr>
             <tr>
                 <td>收货地址明细</td>
                 <td>
                     <input type="text" name="">
                 </td>
             </tr>
             <tr>
                 <td>邮编</td>
                 <td></td>
             </tr>
             <tr>
                 <td>联系人电话</td>
                 <td></td>
             </tr>
             <tr>
                 <td>创建时间</td>
                 <td></td>
             </tr>

         </table>
     </form>
</body>
</html>