<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>根据id删除用户信息</title>
</head>
<body>
    <form action="deleteByid">
        <h3>请填写要删除的用户的id编号</h3>
        <table border="1">

            <tr>
                <td>编号</td>
                <td>
                    <input type="text" name="id" class="id">
                </td>
                <td>
                    <input type="submit" value="删除">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>