<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插入用户信息</title>
</head>
<body>
    <form action="add">
        <table border="1">
            <tr>
                <td>姓名</td>
                <td>
                    <input type="text" name="userName" class="userName">
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input type="text" name="userPassword" class="userPassword">
                </td>
            </tr>
            <tr>
                <td>电话</td>
                <td>
                    <input type="text" name="phone" class="phone">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>