<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
   <form action="">
       <table border="1">
           <tr>
               <th>用户名</th>
               <th>用户密码</th>
               <th>用户性别</th>
               <th>生日</th>
               <th>电话</th>
               <th>地址</th>

           </tr>
           <tr th:each="user : ${list}">
               <td th:text="${user.userName}"></td>
               <td th:text="${user.userPassword}"></td>
               <td th:if="${user.gender==1}">男</td>
               <td th:if="${user.gender==2}">女</td>
               <td th:text="${user.birthday}"></td>
               <td th:text="${user.phone}"></td>
               <td th:text="${user.address}"></td>
           </tr>
       </table>

   </form>
</body>
</html>