<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询所有地址</title>
</head>
<body>
     <form action="">
         <h3>地址信息</h3>
         <table border="1">
             <tr>
                 <td>联系人姓名</td>
                 <td>收货地址明细</td>
                 <td>邮编</td>
                 <td>联系人电话</td>
                 <td>创建时间</td>
             </tr>
             <tr th:each="address:${addressList}">
                 <td th:text="${address.contact}"></td>
                 <td th:text="${address.addressDesc}"></td>
                 <td th:text="${address.postCode}"></td>
                 <td th:text="${address.tel}"></td>
                 <td th:text="${address.creationDate}"></td>
             </tr>
         </table>
     </form>
</body>
</html>