<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>根据id修改用户信息</title>
</head>
<body>
       <form action="updata">
           <table border="1">
               <tr>
                   <td>用户Id编号</td>
                   <td>
                       <input type="text" name="id" class="id">
                   </td>
               </tr>
               <tr>
                   <td>用户姓名</td>
                   <td>
                       <input type="text" name="userName" class="userName">
                   </td>
               </tr>
               <tr>
                   <td>用户密码</td>
                   <td>
                       <input type="text"  name="userPassword" class="userPassword">
                   </td>
               </tr>
               <tr>
                   <td>用户电话</td>
                   <td>
                       <input type="text" name="phone" class="phone">
                   </td>
               </tr>
               <tr>
                   <td>
                       <input type="submit" value="确认修改">
                   </td>
               </tr>
           </table>
       </form>
</body>
</html>